#navBar{
    background-color: #9c9c9c;

    font-size: 3vh;
    color: #010915;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.blank{
    padding: 0vw 3.5vw;
    border-right: none;
}
li {
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}
ul li{
    display: inline-block;
    text-align: center;
    padding: 3vh 3vw 1.5vh 1vw;
    text-decoration: none;
}
