body{
    margin: -0.5%;
    overflow: hidden;
    background: #010915;
    color: #FFF;
}
#leftContainer{
    width: 5vw;
    height: 85vh;
    display: inline-block;
    vertical-align: top;
}
#rightContainer{
    background-color: rgba(224,240,256,0.3);
    width: 30vw;
    height: 85vh;
    display: inline-block;

    vertical-align: top;
}

.title{
    color: black;
    opacity: 1.0;

    font-size: 2.5vw;
    text-align: center;
    background-color: rgba(256,256,256,0.7);
    border: 3px solid #000;
    border-radius: 7px;

    width: 25vw;
    right: 9.5vw;
    margin: auto;
}
.title span{
    font-size: 3vw;
}