body{
    margin: -0.5%;
    overflow-x: hidden;
    background: #010915;
    color: #FFF;
}
#rightContainer{
    width: 60vw;
    height: 85px;
    display: inline-block;
    vertical-align: top;

    display: inline-block;
    padding: 0vh 2.5vw 1.5vh 1vw;
    line-height: 3.5vh;
    text-decoration: none;
}
#leftContainer{
    background-color: rgba(224,240,256,0.3);
    width: 30vw;
    height: 45vw;
    display: inline-block;
    border-radius: 5px;

    vertical-align: top;

    margin-left: 5vw;
}

.title{
    color: black;
    opacity: 1.0;

    font-size: 2.5vw;
    text-align: center;
    background-color: rgba(256,256,256,0.7);
    border: 3px solid #000;
    border-radius: 7px;

    width: 25vw;
    right: 9.5vw;
    margin: auto;
}
.title span{
    font-size: 3vw;
}

.imgSlide{
    display: inline-block;
    vertical-align: middle;
    margin: 0vh 2.5vw 0vh 0vw;
}
.imgSlide .block{
    display: block;
    background: #010915;

    margin: 2vh 0vw;
    padding: 2vw;
}
.blurb{
    display: inline-block;
    vertical-align: middle;
    font-size: 1vw;
    padding: 3.5vh 2.5vw;
    border: 2px solid white;
    border-radius: 10px;
}
.blurb .blurbTitle{
    font-size: 1.5vw;
    line-height: 3vw;
}

#containerAbout{
    display: block;
    background-color: rgba(224,240,256,0.3);

    width: 40vw;
    margin: 20vh 0vw 0vh 47.5vw;
    padding: 3.5vh 2.5vw;
    border-radius: 5px;
}